.cart {
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 250px;
  margin: 20px auto;
}

.cart-empty {
  text-align: center;
  font-size: 18px;
  color: #555;
}
.item-info{
  display: flex;
  flex-direction: column;
}
.item-price{
  padding-top: 3px;
  text-align: left;
color: #007BFF;

}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item-price {
  font-size: 16px;
  color: #007BFF;
}

.cart-item-controls {
  display: flex;
  align-items: center;
}

.cart-item-controls button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.cart-item-controls button:hover {
  background-color: #0056b3;
}

.cart-total {
  margin-top: 20px;
  text-align: center;
}

.checkout-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.checkout-button:hover {
  background-color: #0056b3;
}
